.faq {


  .accordions {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .accordion {
      cursor: pointer;
      padding: 15px;
      background-color: #c5eafa;
      box-shadow: var(--shadow);
      color: #142a40;
      border-radius: 8px;

      .question {
        position: relative;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
          font-size: 30px;
        }
      }

      .answer {
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s ease;

        &-links {
          margin-top: 10px;
          display: flex;
          gap: 15px;

          .answer-link {
            a {
              text-decoration: none;
            }
          }
        }
      }

      &.open {
        .question {
          svg {
            transform: rotate(180deg);
          }
        }

        .answer {
          max-height: 250px;
        }
      }
    }

  }
}

@media only screen and (max-width: 1024px) {
  .faq {
    .accordions {
      .accordion {
        padding: 10px;

        .question {
          font-size: 0.9em;
        }

        .answer {
          font-size: 0.8em;
        }
      }
    }
  }

}