:root {
  --white: #fff;
  --light-blue: #c5eafa;
  --blue: #376fa3;
  --dark-blue: #142a40;
  --pink: #dd6794;
  --grey: #757575;
  --light-pink: #ffd6e7;
  --hover-pink: #b75279;
  --disabled-pink: #dcbfca;
  --hover-blue: #4a8bc8;

  --shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  --dark-shadow: 0 3px 4px rgba(0, 0, 0, 0.35);

  --pink-gradient: linear-gradient(160deg, #fa90b9, #b75279);
  --active-pink-gradient: linear-gradient(160deg, #d77c9f, #994364);
  --disabled-pink-gradient: linear-gradient(160deg, #f6bcd2, #b98397);
  --blue-gradient: linear-gradient(130deg, #5da4e6, #2d5e8b);
}

.link {
  color: var(--blue);
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid black;
  }
}

.two-col {
  display: flex;
  width: 100%;
  gap: 20px;

  &>div {
    flex: 50%;
  }
}

.shadow {
  box-shadow: 2px 7px 9px 0 rgba(100, 100, 111, 0.2);
}

.wrapper {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.tooltip {
  position: relative;

  &-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    white-space: nowrap;
    padding: 5px 7px;
    border-radius: 8px 8px 0 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 11px;
    box-shadow: var(--dark-shadow);
    border-bottom: 3px solid var(--pink);
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid var(--pink);
    }
  }

  &:hover {
    .tooltip-text {
      bottom: calc(110% + 20px);
      opacity: 1;
      visibility: visible;
    }

    &::before {
      opacity: 1;
    }
  }
}

.loading {
  height: 30px;
  width: 30px;
}

.button {
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
  border-radius: 10px;
  font-size: 0.9em;
  box-shadow: var(--shadow);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;

  &.primary-button {
    background-image: var(--pink-gradient);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0);
  }

  &.secondary-button {
    background-color: white;
    border: 2px solid var(--pink);
    color: var(--pink);
  }

  &:not(:disabled):hover {
    background-color: wwite;
    background-image: none;
    background-color: var(--light-pink);
    border: 2px solid var(--pink);
    color: var(--hover-pink);

  }

  &:active {
    background-image: var(--active-pink-gradient);
  }

  &:disabled {
    background-image: var(--disabled-pink-gradient);
    cursor: not-allowed;
  }

}


  .pagination {
    display: flex;
    width: 15em;

    border-radius: 27px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
    justify-content: space-between;
    align-items: center;
    margin: 1em auto 0;
    gap: 10px;

    .pag-input-cont {
      display: flex;
      gap: 7px;
      align-items: center;

      .page-input {
        width: 2em;
        height: 2em;
        text-align: center;
      }
    }

    .button {
      padding: 10px 15px;

      &.next {
        border-radius: 0 10px 25px 0px;
        padding-left: 10px;
      }

      &.prev {
        border-radius: 10px 0 0 25px;
        padding-right: 10px;
      }
    }

    
  }
