:root {
  --white: #fff;
  --light-blue: #c5eafa;
  --blue: #376fa3;
  --dark-blue: #142a40;
  --pink: #dd6794;

  --light-pink: #fbb7d1;

  --hover-pink: #b75279;
  --hover-blue: #4a8bc8;

  --shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  --dark-shadow: 0 3px 4px rgba(0, 0, 0, 0.35);

  --pink-gradient: linear-gradient(160deg, #fa90b9, #b75279);
  --blue-gradient: linear-gradient(130deg, #5da4e6, #2d5e8b);
}

.link {
  color: var(--blue);
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid black;
  }
}

.two-col {
  display: flex;
  width: 100%;
  gap: 20px;

  & > div {
    flex: 50%;
  }
}

.shadow {
  box-shadow: 2px 7px 9px 0 rgba(100, 100, 111, 0.2);
}

.wrapper {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.tooltip {
  position: relative;

  &-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    white-space: nowrap;
    padding: 5px 7px;
    border-radius: 8px 8px 0 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 11px;
    box-shadow: var(--dark-shadow);
    border-bottom: 3px solid var(--pink);
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      bottom: -10px; /* Adjust this value to control the height of the pointer */
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent; /* Adjust this value to control the width of the pointer */
      border-right: 10px solid transparent;
      border-top: 10px solid var(--pink); /* Adjust this value to control the color and size of the pointer */
      // opacity: 0;
    }
  }

  &:hover {
    .tooltip-text {
      bottom: calc(110% + 20px);
      opacity: 1;
      visibility: visible;
    }

    &::before {
      opacity: 1;
    }
  }
}

.loading {
  height: 30px;
  width: 30px;
}

