.top-bar {
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid var(--dark-blue);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 15px;

  .logo {
    position: relative;
    height: 50px;
    width: 50px;

    &-circle {
      border: 1px solid var(--pink);
      border-radius: 100%;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
    }

    img {
      height: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
    }

    &:hover>img {
      &:hover>img {
        height: 90%;
        -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
      }

      &:hover>.logo-circle {

        &:hover>.logo-circle {
          height: 10px;
          width: 10px;
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
          opacity: 0.5;
        }
      }
    }
  }

  a {
    text-decoration: none;

    .title {
      font-family: 'PatuaOne', sans-serif;
      font-size: 2em;
      color: var(--dark-blue);
    }
  }


  .right {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: 0.8rem;
    }

    svg {
      font-size: 2em;
      display: none;
    }
  }

  &>div {
    min-width: 70px;
  }
}





@media only screen and (max-width: 1024px) {
  .top-bar {
    .right {
      svg {
        display: block;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .top-bar {
    .logo {
      width: 35px;
      height: 35px;

      &-circle {
        width: 35px;
        height: 35px;
      }
    }

    h1 {
      font-size: 1.6em;
    }
  }
}