.layout {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;

  .content {
    width: calc(100vw - 275px);
  }

  .nav-container {
    width: 275px;
    height: 100vh;
  }
}



@media only screen and (max-width: 1024px) {
  .layout {
    .content {
      width: 100%;
    }
    .nav-container {
      position: fixed;
      width: 100%;
      top: 80px;
      z-index: 1;

      &.collapsed {
        display: none;
      }

    }
  }
}