.layout {
  height: 100vh;

  header {
    position: relative;
    z-index: 10;

  }

  .content {
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    box-shadow: 0 0 60px rgba(0,0,0,0.3);

    .nav-container {
      width: 275px;
      height: calc(100vh - 70px);
    }

    .outlet-container {
      width: calc(100vw - 275px);

      .outlet {
        margin: 0 auto;
        max-width: 1100px;
        padding: 45px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .layout {
    .content {
      width: 100%;

      .nav-container {
        position: absolute;
        width: 260px;
        top: 60px;
        right: 0;
        z-index: 1;
        transition: top 0.3s ease;

        .nav {
          border-bottom-left-radius: 10px;
        }

        &.collapsed {
          top: -100%;
        }
      }

      .outlet-container {
        width: 100%;

        .outlet {
          padding: 15px;
        }
      }
    }

  }
}

@media only screen and (max-width: 480px) {
  .layout {
    .content {
      .nav-container {
        width: 100%;
        height: calc(100vh - 70px);
      }
    }
  }
}