.nav {
  background-image: linear-gradient(195deg, var(--light-blue), #92deff);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  padding: 25px;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 600;
  }

  .profile-links {
    hr {
      border: none;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      margin: 0 auto 25px;
    }
  }

  .active {
    color: var(--pink);
  }

  .nav-link {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.2s ease;
    border-radius: 10px;

    &:hover,
    &:focus {
      background-image: linear-gradient(to right, var(--hover-blue), var(--blue));
      color: var(--light-blue);
    }

    svg {
      font-size: 2em;
      width: 35px;
      filter: fill(white);
    }

    &.logout {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .nav {
    height: auto;

    & > div {
      ul {
        margin: 0 auto;
      }
      .nav-link {
        padding: 5px 8px;
      }
    }
    .profile-links {
      hr {
        margin: 10px auto;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .nav {
    height: 100%;

    & > div {
      ul {
        width: 250px;
      }
    }
  }
}
