:root {
  --white: #fff;
  --light-blue: #c5eafa;
  --blue: #376fa3;
  --dark-blue: #142a40;
  --pink: #dd6794;
  --grey: #757575;
  --light-grey: #b8b8b8;
  --lighter-grey: #e7e7e7;
  --light-pink: #ffd6e7;
  --hover-pink: #b75279;
  --disabled-pink: #dcbfca;
  --hover-blue: #4a8bc8;
  --red: #d84444;
  --disabled-green: #AFE1AF;
  --green: #4b9b4b;
  --lime-green: #1bd51b;
  --yellow: #d09e08;


  --shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  --dark-shadow: 0 3px 4px rgba(0, 0, 0, 0.35);
  --pink-gradient: linear-gradient(160deg, #b75279, #fa90b9);
  --active-pink-gradient: linear-gradient(160deg, #994364, #d77c9f);
  --disabled-pink-gradient: linear-gradient(160deg, #f6bcd2, #b98397);
  --blue-gradient: linear-gradient(130deg, #5da4e6, #2d5e8b);
  --disabled-blue-gradient: linear-gradient(130deg, #9fc9ef, #7d9cb8);
  --red-gradient: linear-gradient(160deg, #d84444, #da6b6b);
  --disabled-red-gradient: linear-gradient(160deg, #d97c7c, #e1a5a5);

  --logged: rgba(255, 99, 132, 0.9);
  --refrigerated: rgba(54, 162, 235, 0.9);
  --frozen: rgba(255, 206, 86, 0.9);
  --thawed: rgba(75, 192, 192, 0.9);
  --consumed: rgba(153, 102, 255, 0.9);
  --shared: rgba(255, 159, 64, 0.9);
  --discarded: rgba(220, 53, 69, 0.9);
}

.outlet {
  h1 {
    font-size: 2.2em;
    margin-bottom: 0.8em;
  }
}

.link {
  color: var(--blue);
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid black;
  }
}

.two-col {
  display: flex;
  width: 100%;
  gap: 20px;

  &>div {
    flex: 50%;
  }
}

.three-col {
  display: flex;
  width: 100%;
  gap: 20px;

  &>div {
    flex: 33%;
  }
}

.shadow {
  box-shadow: 2px 7px 9px 0 rgba(100, 100, 111, 0.2);
}

.wrapper {
  padding: 1.5em;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 2em;

  h2 {
    position: relative;
    margin-bottom: 40px;

    &::before {
      content: "";
      height: 3px;
      width: 100%;
      background-image: var(--blue-gradient);
      position: absolute;
      top: calc(100% + 15px);
      border-radius: 5px;
    }
  }
}

.tooltip {
  position: relative;

  &-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    white-space: nowrap;
    padding: 5px 7px;
    border-radius: 8px 8px 0 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 11px;
    box-shadow: var(--dark-shadow);
    border-bottom: 3px solid var(--pink);
    z-index: 3;
    color: var(--dark-blue);

    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid var(--pink);
    }
  }

  &:hover {
    .tooltip-text {
      bottom: calc(110% + 20px);
      opacity: 1;
      visibility: visible;
    }

    &::before {
      opacity: 1;
    }
  }
}

.loading {
  height: 30px;
  width: 30px;
}

.button {
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
  border-radius: 10px;
  font-size: 0.9em;
  box-shadow: var(--shadow);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;

  &.primary-button {
    background-image: var(--pink-gradient);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0);
  }

  &.primary-button-blue {
    background-image: var(--blue-gradient);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0);

    &:not(:disabled):hover {
      background-color: white !important;
      color: var(--blue) !important;
      border: 2px solid var(--blue) !important;
    }

    &:disabled {
      background-image: var(--disabled-blue-gradient);
    }
  }

  &.primary-button-red {
    background-image: var(--red-gradient);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0);

    &:not(:disabled):hover {
      background-color: white !important;
      color: var(--red) !important;
      border: 2px solid var(--red) !important;
    }
  }

  &.secondary-button {
    background-color: white;
    border: 2px solid var(--pink);
    color: var(--pink);
  }

  &.secondary-button-blue {
    background-color: white;
    border: 2px solid var(--blue);
    color: var(--blue);

    &:not(:disabled):hover {
      background-color: var(--light-blue) !important;
      color: var(--blue);
      border-color: var(--blue);
    }

    &:disabled {
      background-image: var(--disabled-blue-gradient);
    }
  }

  &.secondary-button-red {
    background-color: white;
    border: 2px solid var(--red);
    color: var(--red);

    &:not(:disabled):hover {
      background-color: rgb(255, 208, 208) !important;
      color: var(--red);
      border-color: var(--red);
    }

    &:disabled {
      background-image: var(--disabled-red-gradient);
    }
  }

  &:not(:disabled, .disabled):hover {
    background-color: white;
    background-image: none;
    background-color: var(--light-pink);
    border: 2px solid var(--pink);
    color: var(--hover-pink);
  }

  &:active {
    background-image: var(--active-pink-gradient);
  }

  &:disabled,
  &.disabled {
    background-image: var(--disabled-pink-gradient);
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus-visible {
    outline: 2px dashed black;
  }
}

.pagination {
  display: flex;
  width: 15em;
  border-radius: 27px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
  justify-content: space-between;
  align-items: center;
  margin: 1em auto 0;
  gap: 10px;

  .pag-input-cont {
    display: flex;
    gap: 7px;
    align-items: center;

    .page-input {
      width: 2em;
      height: 2em;
      text-align: center;
    }
  }

  .button {
    padding: 10px 15px;

    &.next {
      border-radius: 0 25px 25px 0px;
      padding-left: 10px;
    }

    &.prev {
      border-radius: 25px 0 0 25px;
      padding-right: 10px;
    }
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-cont {
  .char-limit {
    color: var(--grey);
    text-align: end;
    font-size: 0.8em;

    &.yellow {
      color: var(--yellow);
    }

    &.red {
      color: var(--red) !important;
    }
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.batch-info {
  .info-table {
    width: 100%;
    border-collapse: separate;
    border-radius: 15px;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border: 4px inset var(--blue);

    th,
    td {
      padding: 15px;
    }

    th {
      width: 175px;
      text-align: left;
    }

    tr:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    td {
      &.status {
        text-transform: capitalize;
      }
    }
  }
}

.table {
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;

  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: var(--shadow);

    tbody {
      td {
        padding: 5px 15px;
        align-items: center;
        vertical-align: middle;

        svg {
          font-size: calc(100% + 1em);
          position: relative;
          top: 0.1em;
        }

        &.status-cell {
          text-transform: capitalize;
        }

        &.link-cell {
          display: flex;
          justify-content: center;

          svg {
            font-size: 2em;
            cursor: pointer;
            color: var(--pink);
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      tr {
        &.log-table-row {
          cursor: pointer;

          &:hover,
          &:focus-within,
          :active {
            background-color: var(--pink);
            color: white;
          }
        }

        &:nth-child(2n) {
          background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.15));
        }

        &.empty-row {
          text-align: center;
        }

        .time {
          font-size: 0.75em;
        }
      }
    }

    thead {
      background-image: var(--blue-gradient);
      color: white;

      th {
        text-align: center;
        padding: 15px;

        &:first-child {
          border-top-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
        }
      }
    }
  }
}

.add-batch {
  background-image: var(--pink-gradient);
  box-shadow: var(--shadow);
  border-radius: 20px;
  max-height: 60px;
  margin-bottom: 2em;

  h2 {
    color: white;
  }

  &.expanded {
    max-height: 8000px;
  }

  .expand-click {
    padding: 0 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 60px;
    color: white;

    svg {
      font-size: 1.8em;

      &.flipped {
        transform: rotate(180deg);
      }
    }

    &.expanded {
      border-radius: 20px 20px 0px 0px;
    }

    &:focus {
      background-image: var(--active-pink-gradient);
      outline: none;
      box-shadow: inset 0 0 0 3px var(--blue);
    }
  }
}

  .add-form {
    padding: 20px;
    background-color: white;
    border-radius: 0 0 20px 20px;

    form {
      max-width: 700px;
      margin: 0 auto;
      border-radius: 0 0 20px 20px;

      .input-cont {
        margin-bottom: 1em;

        input:not(.MuiInputBase-input) {
          border-radius: 4px;
          border: 1px solid rgb(195, 195, 195);
          padding: 0 14px;

          &:hover {
            border: 1px solid rgb(100, 100, 100);
          }
        }

        input[type=text],
        input[type=number] {
          height: 54px;
        }

        label {
          display: flex;
          flex-direction: column;
          font-size: 0.8em;
          font-weight: bold;

          & *:not(svg) {
            font-size: 1.2em;
            font-weight: normal;
          }

          .select * {
            font-size: 1em !important;
          }

          .MuiFormControl-root {
            &>div {
              height: 54px;
            }

            *:not(svg) {
              font-size: 0.9em;
            }

            .MuiInputBase-input {
              padding: 0 14px;
            }
          }
        }

        .caffeine {
          display: flex;
          flex-direction: row;

          input[type=checkbox] {
            margin-right: 10px;
          }

          label {
            flex-direction: row;
          }
        }
      }

      .error-msg {
        text-align: center;
        font-size: 0.8em;
        color: red;
        margin-bottom: 1em;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
      }
    }
  }


@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.8em !important;
  }
  .wrapper, .dash-wrapper {
    h2 {
      font-size: 1.3em !important;
    }
  }
}

@media only screen and (max-width: 675px) {
  .table {
    border-radius: 10px;
    overflow-x: hidden !important;

    table {

      tbody {
        td {
          padding: 2px 5px !important;
          font-size: .7em !important;
        }
      }

      thead {
        th {
          font-size: .7em !important;
          padding: 5px !important;
        }
      }
    }

    .disappear {
      display: none !important;
    }
  }
}

