.modal-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  backdrop-filter: blur(2px);

  .modal {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      text-align: center;
    }

    .top {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        font-size: 2em;
        cursor: pointer;
        transition: all 0.2s ease;
        background-color: var(--lighter-grey);
        border-radius: 50px;
        padding: 3px;
        color: #7c7c7c;
        position: relative;
        bottom: 10px;
        left: 10px;

        &:hover,
        &:focus-visible {
          transform: translate(-3px, -3px);
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          outline: none;
          color: black;
        }
      }
    }

    .modal-content {
      margin: 20px 0;
      text-align: center;

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .input-cont {
          label {
            display: flex;
            flex-direction: column;
            font-weight: bold;
            color: var(--grey);
            font-size: 0.9em;

            &>* {
              font-weight: normal;
              color: var(--dark-blue);
            }

            .select {}

            .notes {
              padding: 10px;
              border-radius: 4px;
              border: 1px solid var(--light-grey);
              font-family: Inter;
              resize: none;
            }
          }
        }
      }
    }

    .modal-error-loading {
      text-align: center;
      color: var(--red);
      font-size: 0.8em;
    }

    .buttons {
      margin-top: 1em;
      display: flex;
      justify-content: flex-end;
      gap: 15px;
    }

    .error-msg {
      font-size: 0.8em;
      color: var(--red);
      text-align: center;
      margin: 1em 0;
    }
  }
}

.success-modal {
  .success {
    text-align: center;
    color: var(--lime-green);



    svg {
      font-size: 8em;
    }

    h2 {
      font-size: 2em;
    }

    p {
      text-align: center;
    }
  }
}

.delete-batch-event {
  .event-card {
    .event {
      margin: 1em auto;
    }
  }
}

.delete-user {
  .modal-content {
    font-size: 0.9em;
    label {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid var(--light-grey);
      }
    }
  }
  .success {
    color: var(--green);
    text-align: center;
  }
}

.add-batch-event {
  min-width: 300px;
  .modal-error-loading {
    width: 300px;
  }
}

.delete-listing {
  .listing-info {
    font-size: 0.9em;
    text-align: center;
  }
  .loading-icon {
    text-align: center;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 1024px) {
  .modal-cont {
    width: 100%;
  }
}