.landing {
  min-height: 100vh;
  background: white;

  .form-container {
    min-height: 600px;
    height: 60vh;
    background: linear-gradient(0deg, rgba(197, 234, 250, 0.8), rgba(197, 234, 250, 0.5)), url("../../images/mother.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &>* {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px;
      border-radius: 20px;
      width: 350px;

      &.create-account-form {
        width: 500px;
      }

      h2 {
        text-align: center;
        margin-bottom: 10px;
      }

      .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        label {
          font-size: 0.9em;
        }

        .field {
          border: 1px solid rgba(0, 0, 0, 0.15);
          padding: 7px 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;

          &.error-field {
            background-color: rgba(255, 0, 0, 0.05);
          }

          &:focus-within {
            border: 1px solid var(--blue);
          }

          input {
            border: none;
            outline: none;
            width: 100%;
            background-color: rgba(0, 0, 0, 0);
            font-size: 1em;
          }

          span {
            display: flex;
            align-items: center;
            outline: none;

            &:focus svg {
              fill: var(--blue);
              outline: 1px solid rgba(0, 0, 0, 0.6);
            }

            svg {
              cursor: pointer;
              height: 100%;
              font-size: 1.14em;

              &:hover {
                fill: var(--blue);
              }
            }
          }
        }

        .forgot {
          text-align: right;
          font-size: 0.8em;
          display: inline-block;
          width: auto;
        }

        .error {
          color: red;
          font-size: 10px;
          min-height: 27px;
        }
      }

      .error-loading {
        font-size: 12px;
        color: red;
        height: 40px;
        display: flex;
        align-items: center;
        margin: -5px 0 0;
        justify-content: center;

        p {
          text-align: center;
        }
      }

      .submit-btn {
        width: 100%;
        padding: 7px 5px;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid rgba(0, 0, 0, 0);
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.2s ease;
        color: white;
        background-image: var(--pink-gradient);
        font-size: 16px;
        margin-bottom: 10px;

        &:hover {
          color: var(--pink);
          background-image: none;
          background-color: rgba(0, 0, 0, 0);
          border: 2px solid var(--pink);
          outline: none;
        }
      }
    }

    .bottom-txt {
      text-align: center;
      font-size: 0.8em;
    }

    .success-msg {
      p {
        font-size: 0.9em;
        margin: 20px 0;
      }

      .success-login {
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        padding: 5px;
      }
    }
  }

  .info-container {
    h2 {
      text-align: center;
      margin: 20px 0;
      color: var(--pink);
      font-size: 1.3em;
    }

    .icons {
      background-color: var(--light-blue);
      width: 80%;
      max-width: 1000px;
      min-width: 250px;
      margin: 0 auto;
      padding: 20px 20px 30px;
      border-radius: 20px;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 175px;
        text-align: center;

        svg {
          font-size: 5em;
          height: 100px;
        }

        h3 {
          font-size: 18px;
          margin-bottom: 5px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }

  .forgot-landing {
    .desc {
      text-align: center;
    }

    .error {
      color: var(--red);
      text-align: center;
    }

    .success {
      color: var(--green);
      text-align: center;
      font-size: 0.9em;
    }

    form {
      margin: 1em 0 2em;
      gap: 1em;
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;

        input {
          padding: 10px;
          border: 1px solid #c3c3c3;
          border-radius: 4px;
        }
      }

      .button {
        display: inline-block;
      }
    }

    .back {
      all: unset;
      color: var(--blue);
      cursor: pointer;
      
      display: block;
      margin: 0 auto;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .landing {

    .info-container {
      h2 {
        font-size: 1em !important;
      }
      .icons {
        gap: 10px !important;
        padding: 10px 10px 15px !important;

        svg {
          font-size: 3em !important;
        }
      }

    }


    form {
      padding: 15px !important;
    }
    .error {
      min-height: 0 !important;
    }

    .form-container {
      & > * {
        padding: 10px;
      }
    }
  }
}