.share {
  .create-listing {
    form {
      gap: 1em;

      .input-cont {
        label {
          font-weight: bold;
          color: var(--grey);

          &>* {
            font-weight: normal;
            color: var(--dark-blue);
          }

          .price-label {
            display: flex;
            gap: 5px;
            align-items: center;
            font-weight: bold;
            color: var(--grey);

            .optional {
              font-size: 0.8em;
              color: var(--grey);
            }
          }

          input,
          textarea {
            padding: 10px;
            font-size: 0.9em;
            font-family: Inter;
            border: 1px solid var(--light-grey);
            border-radius: 4px;

            &::placeholder {
              color: rgb(154, 154, 154);
            }
          }

          textarea {
            resize: none;
          }
        }
      }

      .loading {
        text-align: center;
        width: 100%;
      }

      .error-msg {
        &.center {
          text-align: center;
        }

        color: var(--red);
        font-size: 0.8em;
      }

      .buttons {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
      }

    }
  }

  .my-listings {
    .listings {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2em;
      justify-content: center;
      border-radius: 20px;
    }
  }
}

.find {
  .find-listings {
    align-items: center;
    gap: 2em;
  }
}

.listing-item {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 8px 8px 0 var(--blue);
  border: 2px solid var(--blue);
  width: calc(33.33% - 2em);
  height: 250px;
  background-color: white;
  width: 100%;
  max-width: 700px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-size: 1.2em;
      overflow-wrap: break-word;
      max-width: 100%;
    }
  }

  p {
    overflow-wrap: break-word;
    font-size: 0.8em;
  }

  .second-row {
    display: flex;
    justify-content: space-between;

    .author {
      .profile-link {
        color: var(--pink);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  h4 {
    font-size: 0.9em;
  }

  .bottom {
    display: flex;
    justify-content: flex-end;
  }

  &:hover {
    transform: scale(1.02) translateY(-5px);
    box-shadow: 12px 12px 15px var(--blue);
  }

  &:focus-within {
    outline: 2px solid var(--pink);
  }


}

.listing {
  .listing-info {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    .bottle {
      font-size: 10em;
      color: var(--pink);
      filter: drop-shadow(8px 8px 0 rgba(0,0,0,0.2))
    }
    .listing-content {
      & > div {
        margin-bottom: 1.5em;
      }
      .posted {
        a {
          font-weight: bold;
          font-size: 1.2em;
          color: var(--pink);

          &:hover {
            color: var(--hover-pink);
          }
        }
      }
      .contact {
        background-image: var(--blue-gradient);
        color: white;
        display: inline-block;
        padding: 1em;
        border-radius: 10px;
        min-height: 145px;
        .buttons {
          display: flex;
          justify-content: center;
          gap: 15px;
          margin-top: 15px;

          & > div {
            width: 200px;
          }

          button {
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            width: 100%;
            background-color: white;
            color: var(--blue);
            border: 1px solid white;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
            border-radius: 5px 5px 0 0;

            svg {
              font-size: 2em;
            }
          }
          .contact-popup {
            background-color: white;
            color: var(--dark-blue);
            padding: 5px;
            font-size: 0.8em;
            width: 100%;
            text-align: center;
            word-wrap: break-word;
            border-radius: 0 0 5px 5px;
            border-top: 2px solid var(--blue);
            display: inline-block;
          }
        }
      }
    }
  }
}


// @media only screen and (max-width: 1380px) {
//   .listing-item {
//     width: calc(50% - 2em);
//   }
// }

@media only screen and (max-width: 680px) {
  .bottle {
    display: none !important;
  }
}
@media only screen and (max-width: 560px) {
  .two-col {
    flex-wrap: wrap !important;
  }
}


// @media only screen and (max-width: 800px) {
//   .listing-item {
//     width: 100%;
//   }
// }