.share {
  .create-listing {
    .milk-log-btn {
      display: inline-block;
      margin-top: 1em;
      text-decoration: none;
    }

    form {
      gap: 1em;

      .input-cont {
        label {
          font-weight: bold;
          color: var(--grey);

          &>* {
            font-weight: normal;
            color: var(--dark-blue);
          }

          .price-label {
            display: flex;
            gap: 5px;
            align-items: center;
            font-weight: bold;
            color: var(--grey);

            .optional {
              font-size: 0.8em;
              color: var(--grey);
            }
          }

          input,
          textarea {
            padding: 10px;
            font-size: 0.9em;
            font-family: Inter;
            border: 1px solid var(--light-grey);
            border-radius: 4px;

            &::placeholder {
              color: rgb(154, 154, 154);
            }
          }

          textarea {
            resize: none;
          }
        }

        &.contact {
          .checkboxes {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
          }


          label {
            input {
              margin-right: 5px;
            }
          }
        }
      }

      .loading {
        text-align: center;
        width: 100%;
      }

      .error-msg {
        &.center {
          text-align: center;
        }

        color: var(--red);
        font-size: 0.8em;
      }

      .buttons {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
      }

    }
  }

  .my-listings {
    .listings {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2em;
      justify-content: center;
      border-radius: 20px;
    }
  }
}

.find {
  .find-filter {
    background-image: var(--blue-gradient);
    color: white;
    padding: 1em;
    border-radius: 15px;
    margin-bottom: 2em;

    .filter-content {
      margin-top: 1em;
      color: var(--dark-blue);
      background-color: white;
      padding: 15px;
      border-radius: 10px;

      .basic-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        margin-bottom: 1em;
      }

      .advanced {
        margin-bottom: 1em;
        gap: 1em;

        .note {
          text-align: center;
          color: var(--pink);
        }

        .checkboxes {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;

          .filter-label {
            width: 100%;
          }

          label {
            font-size: 0.8em;
            width: calc(50% - 3px);
            min-width: 100px;
          }
        }
      }

      .filter-cont {
        border: 1px solid rgb(197, 197, 197);
        padding: 10px;
        border-radius: 5px;

        &.earliest {
          width: calc(50% - 1em);
          min-width: 220px;

          .MuiFormControl-root {
            width: 100%;
          }


        }

        input[type=number] {
          border: 1px solid rgb(194, 194, 194);
          border-radius: 4px;
          padding: 10px;
          max-width: 80px;

          &:hover {
            border-color: black;
          }
        }

        &.batch-info {
          max-width: 400px;

          &>div {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
          }
        }

        &.zip {
          .zip-input {
            padding: 10px;
            max-width: 80px;
            border: 1px solid rgb(197, 197, 197);
            border-radius: 4px;
          }
        }

        .filter-label {
          font-weight: bold;
          margin-bottom: 3px;
        }

        input[type=checkbox] {
          margin-right: 5px;
        }
      }

      .show-more {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1em;

        a {
          text-decoration: none;
          color: var(--blue);
          font-weight: bold;

          svg {
            font-size: 2em;
          }

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        svg {
          font-size: 2em;
          color: var(--blue);
        }
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
      }

    }
  }

  .find-listings {
    align-items: center;
    gap: 2em;
  }
}

.listing-item {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 8px 8px 0 var(--blue);
  border: 2px solid var(--blue);
  width: calc(33.33% - 2em);
  height: 250px;
  background-color: white;
  width: 100%;
  max-width: 700px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-size: 1.2em;
      overflow-wrap: break-word;
      max-width: 100%;
    }
  }

  p {
    overflow-wrap: break-word;
    font-size: 0.8em;
  }

  .second-row {
    display: flex;
    justify-content: space-between;

    .author {
      .profile-link {
        color: var(--pink);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  h4 {
    font-size: 0.9em;
  }

  .bottom {
    display: flex;
    justify-content: flex-end;
  }

  &:hover {
    transform: scale(1.02) translateY(-5px);
    box-shadow: 12px 12px 15px var(--blue);
  }

  &:focus {
    outline: 2px dashed black
  }
}

.listing {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2em;
    }

    .bottle {
      font-size: 7em;
      color: var(--pink);
      filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, 0.2));
      width: 20%;
    }
  }

  .listing-info {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;



    .listing-content {
      &>div {
        margin-bottom: 1.5em;
      }

      .posted {
        a {
          font-weight: bold;
          font-size: 1.2em;
          color: var(--pink);

          &:hover {
            color: var(--hover-pink);
          }
        }
      }

      .contact {
        background-image: var(--blue-gradient);
        color: white;
        display: inline-block;
        padding: 1em;
        border-radius: 10px;
        min-height: 145px;

        .buttons {
          display: flex;
          justify-content: center;
          gap: 15px;
          margin-top: 15px;

          &>div {
            width: 200px;
          }

          button {
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            width: 100%;
            background-color: white;
            color: var(--blue);
            border: 1px solid white;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 5px 5px 0 0;

            svg {
              font-size: 2em;
            }
          }

          .contact-popup {
            background-color: white;
            color: var(--dark-blue);
            padding: 5px;
            font-size: 0.8em;
            width: 100%;
            text-align: center;
            word-wrap: break-word;
            border-radius: 0 0 5px 5px;
            border-top: 2px solid var(--blue);
            display: inline-block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .bottle {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .two-col {
    display: block !important;
  }
}

@media only screen and (max-width: 560px) {
  .share {
    .create-listing {
      .two-col {
        display: block !important;
      }
    }
  }

  .listing {
    .buttons {
      flex-direction: column !important;

    }
  }

  .find-filter {
    font-size: 0.8em !important;
  }
}