.share {
  .create-listing {
    form {
      gap: 1em;

      .input-cont {
        label {
          font-weight: bold;
          color: var(--grey);

          &>* {
            font-weight: normal;
            color: var(--dark-blue);
          }

          .price-label {
            display: flex;
            gap: 5px;
            align-items: center;
            font-weight: bold;
            color: var(--grey);

            .optional {
              font-size: 0.8em;
              color: var(--grey);
            }
          }

          input,
          textarea {
            padding: 10px;
            font-size: 0.9em;
            font-family: Inter;
            border: 1px solid var(--light-grey);
            border-radius: 4px;

            &::placeholder {
              color: rgb(154, 154, 154);
            }
          }

          textarea {
            resize: none;
          }
        }
      }

      .error-msg {
        &.center {
          text-align: center;
        }

        color: var(--red);
        font-size: 0.8em;
      }

      .buttons {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
      }

    }
  }

  .my-listings {
    .listings {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2em;
      padding: 2em;
      justify-content: center;
      background-color: var(--blue);
      border-radius: 20px;
      box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
    }
  }
}

.find {}

.listing-item {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 2em);
  height: 250px;
  background-color: white;
  width: 100%;
  max-width: 700px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    h3 {
      font-size: 1.1em;
      overflow-wrap: break-word;
      max-width: 100%;
    }
  }

  .second-row {
    display: flex;
    justify-content: space-between;
  }


  .description {
    h4 {
      font-size: 0.9em;
    }

    p {
      overflow-wrap: break-word;
      font-size: 0.8em;
    }

  }

  .bottom {
    display: flex;
  }

  &:hover, &:focus-within {
    
  }


}


// @media only screen and (max-width: 1380px) {
//   .listing-item {
//     width: calc(50% - 2em);
//   }
// }

@media only screen and (max-width: 560px) {
  .two-col {
    flex-wrap: wrap !important;
  }
}


// @media only screen and (max-width: 800px) {
//   .listing-item {
//     width: 100%;
//   }
// }