.log {
  display: flex;
  flex-direction: column;

 

  .log-table {
    .inputs {
      margin-top: 1em;
      display: flex;
      gap: 1.2em;
      background-image: var(--blue-gradient);
      border-radius: 20px;
      padding: 15px;

      .input {
        display: flex;
        flex-direction: column;

        label {
          color: white;
          font-size: 0.8em;
          font-weight: bold;
        }

        .option {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 0.9em;
        }

        &.filter-input {
          position: relative;

          .add-filters-btn {
            font-size: 0.9em;
            text-align: left;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            height: 2.605em;
            border: 1px solid hsl(0, 0%, 80%);
            border-radius: 4px;
            background-color: white;
            cursor: pointer;

            svg {
              color: hsl(0, 0%, 80%);
            }

            &.active {
              border: 2px solid var(--blue);

              svg {
                color: hsl(0, 0%, 40%);
              }
            }
          }

          .filter-menu {
            padding: 20px;
            box-shadow: var(--shadow);
            background-color: white;
            position: absolute;
            top: 63px;
            z-index: 2;
            border-radius: 15px;
            width: 18em;
            min-width: 200px;

            &>div {
              margin-top: 1em;
            }

            label,
            .options-header {
              font-weight: bold;
              font-size: 0.8em;
              color: var(--grey);
            }

            &__option {
              .checkboxes {
                display: flex;
                gap: 1.2em;

                .status-option {
                  display: flex;

                  input[type=checkbox] {
                    margin-right: 0.5em;

                    &:checked {
                      background-color: var(--blue);
                    }
                  }

                  label {
                    color: var(--dark-blue);
                    font-weight: normal;
                  }
                }
              }

              .date-range-select,
              .listed-select {
                width: 100%;
                font-size: 0.9em;
              }
            }

            &__buttons {
              display: flex;
              gap: 15px;
              justify-content: right;
            }
          }
        }
      }
    }

    .set-filters {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      font-size: 0.75em;
      margin: 1em 0;

      .clear-filter {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #EEE;
        border-radius: 100px;
        overflow: hidden;
        padding-right: 10px;

        button {
          all: unset;
          cursor: pointer;
          display: flex;
          padding: 6px 3px 6px 6px;
          align-items: center;
          background-color: #DDD;

          &:hover {
            background-color: #CCC;
          }

          svg {
            align-self: center;
          }
        }
      }
    }

    .pagination {
      margin: 1em auto;
    }

    .table {
      overflow-x: auto;
      overflow-y: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      text-align: center;

      table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: var(--shadow);

        tbody {
          td {
            padding: 5px 15px;
            align-items: center;
            vertical-align: middle;

            svg {
              font-size: calc(100% + 1em);
              position: relative;
              top: 0.1em;
            }

            &.status-cell {
              text-transform: capitalize;
            }

            &.link-cell {
              display: flex;
              justify-content: center;

              svg {
                font-size: 2em;
                cursor: pointer;
                color: var(--pink);
                transition: transform 0.3s ease;

                &:hover {
                  transform: scale(1.1);
                }
              }
            }
          }

          tr {
            &.log-table-row {
              cursor: pointer;

              &:hover,
              &:focus-within,
              :active {
                background-color: var(--pink);
                color: white;
              }
            }

            &:nth-child(2n) {
              background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.15));
            }

            &.empty-row {
              text-align: center;
            }

            .time {
              font-size: 0.75em;
            }
          }
        }

        thead {
          background-image: var(--blue-gradient);
          color: white;

          th {
            text-align: center;
            padding: 15px;

            &:first-child {
              border-top-left-radius: 10px;
            }

            &:last-child {
              border-top-right-radius: 10px;
            }
          }
        }
      }
    }
  }

  .log-charts {
    display: flex;
    justify-content: center;
    flex-direction: column;

    canvas {
      max-height: 420px;
    }

    .total {
      margin-top: 1em;
      text-align: right;
      &-amount {
        color: white;
        background-image: var(--pink-gradient);
        padding: 5px 7px;
        margin-left: 1em;
        border-radius: 5px;
        font-size: 1.3em;
        font-weight: bold;
      }
    }

    .buttons {
      margin: 1em auto;
      display: flex;
      .left {
        border-radius: 115px 0 0 115px;
      }
      .right {
        border-radius: 0 115px 115px 0;
      }

    }
  }
}

@media only screen and (max-width: 650px) {
  .add-batch {
    .input-cont {
      & *:not(svg) {
        font-size: 11px !important;
      }
    }
  }

  .log-charts {
    max-height: 600px;
  }
}

@media only screen and (max-width: 675px) {
  .log {
    .log-table {
      .inputs {
        gap: 10px;
        padding: 10px;

        *:not(svg){
          font-size: 0.8em !important;
        }

        .input {
          .option {
            font-size: 0.7em;
          }

          &.filter-input {
            .add-filters-btn {
              font-size: 0.7em;
              height: 38px;
            }
          }
        }
      }

      
    }
  }
}