.resourceTitle {
  background-image: var(--active-pink-gradient);
  outline: none;
  box-shadow: inset 0 0 0 3px var(--blue);
}

.video {
  width: 100%;
  height: 500px;
  max-width: 1100px;
  margin: 0 auto;
}