.share {
  .create-listing {
    form {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .input-cont {
        label {
          display: flex;
          flex-direction: column;
          font-weight: bold;
          color: var(--grey);

          &>* {
            font-weight: normal;
            color: var(--dark-blue);
          }

          .price-label {
            display: flex;
            gap: 5px;
            align-items: center;
            font-weight: bold;
            color: var(--grey);

            .optional {
              font-size: 0.8em;
              color: var(--grey);
            }
          }

          input,
          textarea {
            padding: 10px;
            font-size: 0.9em;
            font-family: Inter;
            border: 1px solid var(--light-grey);
            border-radius: 4px;

            &::placeholder {
              color: rgb(154, 154, 154);
            }
          }

          textarea {
            resize: none;
          }
        }
      }

      .error-msg {
        &.center {
          text-align: center;
        }
        color: var(--red);
        font-size: 0.8em;
      }

      .buttons {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
      }

    }
  }
}

@media only screen and (max-width: 560px) {
  .two-col {
    flex-wrap: wrap !important;
  }
}